body{
    overflow:auto;
    margin: 0;

}
@media (max-width: 768px) {
    .navbar-header {
        float: left;
    }

    .navbar {
        border-radius: 4px;
        min-width: 293px;
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }


    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-static-top {
        border-radius: 0;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-left {
        float: left !important;
    }

    .navbar-right {
        float: right !important;
    }

    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }

    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-form.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        -webkit-box-shadow: black;
        box-shadow: aliceblue;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: #FFF;
        width: auto;
    }
    a#dLabel{
        margin-right: 20px;
    }
    a.navbar-brand{
        margin-left:15px;
    }
    .navbar-nav {
        margin: 0;
    }

    .navbar-nav .open .yep-notify {
        right: 0;
        left: auto;
        width: 299px;
    }
    text.teamBtn{
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px
    }

    /* Undo the collapsing navbar */
    .navbar-collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-collapse {
        border-top: 0;
    }

    .navbar-brand {
        margin-left: -15px;
    }

    .navbar-form {
        float: left;
        border: none;
        margin: 7px 15px;
        padding: 0 15px;
    }

    .navbar-form .form-control {
        width: auto;
    }

    /* Always apply the floated nav */
    .navbar-nav {
        float: left;
        margin: 0;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        padding: 15px;
    }

    /* Redeclare since we override the float above */
    .navbar-nav.navbar-right {
        float: right;
    }

    /* Undo custom dropdowns */
    .navbar .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: left;
        background-color: #fff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-width: 0 1px 1px;
        border-radius: 0 0 4px 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }


    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff !important;

    }

    .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #999 !important;
        background-color: transparent !important;
    }
}

ul.dropdown-menu {
    min-width: 100px;
}
.vertical-center{
    margin: 0 auto;
    position: absolute;
    width: 95% !important;
    height: 31% !important;
    left: 50%;
    top:16%;
    border: 2px solid green;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
>>>>>>> main_page_design
}



/*
헤더 밑에 라인
*/

.launch-header{
    width: 100%;
    white-space: nowrap;
    font-size: 17px;
    position: fixed;
    border-bottom: solid #FFFFFF;
}



/*
 헤더란에 Sign Up, Sign In button
*/
.launch-header-button{
   text-align: center;
    font-family:  helvetica, arial;
    color: #00d6b2;
    font-size:15px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    letter-spacing: 3px;

}
.launch-header-logo{
    font-size: 27px;
    color: white;
    letter-spacing: 2px;
    font-family: Helvetica Neue, Helvetica, Arial;
}
.launch-header-line{
    background-color:white;
    line-height: 2px;
    border-top: solid #FFFFFF;
}

.launch-header-btn{
    margin-top: 5px;
    white-space: nowrap;
}
.launch-header-btn:hover{
    cursor: pointer;
}


@media (min-width:768px) {
    .launch-body-content > #launch-body-btn-signup{
        margin-right: 1%;

    }

    .launch-body-content > #launch-body-btn-signin{
        margin-left: 1%;

    }
}


/* for classification-search-form */
/* Example Styles for React Tags*/
body {
    font-family: monospace;
    color: #444;

}

div.ReactTags__tags {
    position: absolute;
    background-color: #0b97c4;
    margin-top:5%;
    min-height: 33%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;

}

/* Styles for the input */
div.ReactTags__tagInput {
    margin-left: 0;
    margin-right: 0;

    position: absolute;
    top:110%;
    left:0;
    width: 100%;
    border-radius: 2px;
    display: inline-block;
    background-color: #2B2922;

}
div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 8px 10px ;
    display: block;
    background-color: #00d6b2;

    top: 50%;

}
div.ReactTags__selected{
    width: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: inline-block;
    flex-wrap: wrap;

}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 1% 1%;
    margin: 1%;
    cursor: move;
    border-radius: 2px;

}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
    margin-left: 0;
    margin-right: 12%;
    width: 90%;

}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 111%;
    max-height: 250px;
    overflow:auto;
    padding: 0;
    margin: 0;

}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    margin: 0;

}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;

}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;

}

.classificationCompleteBtn{
    margin: 0 auto;
    position: absolute;
    /* width: 80% !important; */
    top:70%;
    left: 50%;
    font-size: 2em;
    z-index: -1;
    cursor:pointer;
    text-decoration: none !important;
    /* margin-right: -50%; */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section{
    overflow:hidden !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.teamBtn{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    color: #9d9d9d;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    position: relative;
    display: block;

    text-decoration: none;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/*index navbar*/
.teamBtn:hover{
    color:#fff;
    cursor: pointer;
}





/*index sidebar*/

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    margin: 3.1em 0 0;
    font-size: 1.15em;
    height: 92.5% !important;
    border-radius: 30px 0 0 30px !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}


.chatMenu{
    float: left;
    margin: 0;
    padding: 0 !important;
    border-right: 1px solid white;
    height:100%;
}

.chatContent{
    position: relative;
    background-color:#fefefe;
    float: right;
    margin: 0;
    padding: 0 !important;
    height:100%;
}




#outer-container{
    position: fixed;
    top:0;
    right:0;
}

.newsfeedBody{
    width:80%;
    padding-top: 15%;
    padding-left: 15%;
}


@media all and(min-width: 1050px) {

    .feedCard{
        height: auto;
        width: 25%;


    }
}
@media all and(max-width: 1050px){

    .feedCard{
        height: auto;
        width: 33%;


    }
}
.graphFeed{
    margin-bottom: 5%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.graphFeed:hover{
    cursor:pointer;
}



.homeBody{
    float: left;
    width:80%;
    position: absolute;
    padding-top: 10% !important;
    padding-left: 25% !important;
    padding-right: 15% !important;

}

.homeCard{
    height: auto;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}


.homeSidebar{
    float: right;
    position: fixed;
    padding-top: 10% !important;
    width:20% !important;
    right:0;
    /*height:100%;*/
}

.posterRecommanded{

}




.loader{
    transform: translate(-50%, 0%);
    margin-left: 50%;
}


.thumb {
    display: block;
    position: absolute;
    overflow: hidden;
    height: 50px;
    width: 50px;
    float:left;
    margin-left: -65px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);

}

.thumb:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.thumb img {
    display: block; /* Otherwise it keeps some space around baseline */
    min-width: 100%;    /* Scale up to fill container width */
    min-height: 100%;   /* Scale up to fill container height */
    -ms-interpolation-mode: bicubic; /* Scaled images look a bit better in IE now */
}

.myThumb{
    margin-left: -80px !important;
}


.thumb:hover{
    cursor:pointer;
}

.vertical-center-second{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border: 1px solid green;
}

.draftJsMentionPlugin__mentionSuggestions__2DWjA {
    display: table;
    min-width: 200px;
    max-width: 240px !important;
}

.googleMapBody{
    width:100%;
    height:100%;
}


/*ReactTags__tags{*/
    /**/
/*}*/
/*ReactTags__tagInput{*/
    /**/
/*}*/
/*ReactTags__selected*/
/*ReactTags__selected ReactTags__tag*/
/*ReactTags__selected ReactTags__remove*/
/*ReactTags__suggestions*/


.mentionSuggestionsEntryContainer {
    display: table;
    width: 80% !important;
}

.mentionSuggestionsEntryContainerLeft,
.mentionSuggestionsEntryContainerRight {
    display: table-cell;
    vertical-align: middle;
}

.mentionSuggestionsEntryContainerRight {
    width: 100%;
    padding-left: 8px;
}

.mentionSuggestionsEntry {
    padding: 7px 10px 3px 10px;
    transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.mentionSuggestionsEntry:active {
    background-color: #cce7ff;
}

.mentionSuggestionsEntryFocused {
    composes: mentionSuggestionsEntry;
    background-color: #e6f3ff;
}

.mentionSuggestionsEntryText,
.mentionSuggestionsEntryTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mentionSuggestionsEntryText {

}

.mentionSuggestionsEntryTitle {
    font-size: 80%;
    color: #a7a7a7;
    display: inline-block !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 175px !important;

}

.mentionSuggestionsEntryAvatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.DraftEditor-root{
    padding-left: 5px !important;
    padding-right: 5px !important;
}